@font-face {
  font-family: Poppins;
  src: url(/fonts/Poppins/Poppins-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Poppins;
  src: url(/fonts/Poppins/Poppins-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Poppins;
  src: url(/fonts/Poppins/Poppins-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Poppins;
  src: url(/fonts/Poppins/Poppins-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: Source_Sans_Pro;
  src: url(/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf);
  font-weight: 700;
}
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25rem;
  color: #000000;
  background-color: #eeeeee;
}

a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #555555;
}

h1 {
  font-family: Source_Sans_Pro;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5rem;
}

h3 {
  display: inline;
  font-family: Poppins;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
}

.alert {
  position: fixed;
  bottom: 20%;
  max-width: 100%;
  left: 50%;
  padding: 1.25rem 2.5rem;
  display: grid;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  background-color: #eeeeee;
  border: 1px solid #555555;
  z-index: 40;
  animation: alertPush 0.4s ease-out;
}
.alert:hover {
  cursor: pointer;
}

@keyframes alertPush {
  from {
    bottom: -10%;
  }
}
button{
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25rem;
  border: none;
}
input{
  min-width: 1.25rem;
  min-height: 1.25rem;
  font-size: 16px;
  line-height: 1.25rem;
}
.btn {
  padding: 0.625rem 1.25rem;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
}
.btn:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #555555;
}

/*---Header---*/
header {
  position: fixed;
  width: 100%;
  padding: 1.25rem 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  z-index: 20;
}

.header_title {
  font-size: 2rem;
  line-height: 2.5rem;
}
.header_nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.header_nav_link {
  margin-left: 1.25rem;
}

/*---Main---*/
main {
  padding-top: 5rem;
}

.error{
  padding: 1.25rem 2.5rem;
  color: #ff3333;
}

.form{
  padding: 1.25rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.form_row{
  padding: 0 0 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.form_row ul{
  list-style-type: none;
  color: #ff3333;
}
.form_help{
  font-size: 0.8rem;
}
.form_label.required:after{
  content: "*";
}

.form input[type=file]{
  width: 0px;
  height: 0px;
  min-height: 0px;
  opacity: 0;
}
.form_image{
  position: relative;
  width: 16rem;
  height: 16rem;
  display: grid;
  justify-content: center;
  align-items: center;

  background-image: var(--img-url);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.form_image:hover{
  cursor: pointer;
}
.form_image_del{
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-image: url(../../images/cross.svg);
  mask-image: url(../../images/cross.svg);
  background-color: #555555;
}
.form_image_del:hover {
  cursor: pointer;
  background-color: #eeeeee;
}


/*---Responsive---*/

